@model IEnumerable<YWPatient.Models.patient>

@*Change  Patient control index view's title*@
@{
    ViewBag.Title = "Patient Listing";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*Add patientId field and delete some fields in Patient control index view*@
        <th>
            @Html.DisplayNameFor(model => model.patientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.OHIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </th>       
       
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deceased)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.OHIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deceased)
        </td>             
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.patientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.patientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.patientId })
        </td>
    </tr>
}

</table>
